venv/
/.idea/.gitignore
/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/password-checker.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
